<div *ngIf="!isLoading && tickets.length; else noTickets">
  <div class="margin-2">
    <div class="flex justify-end">
      <button type="button" [routerLink]="'/add-ticket'" class="cta-button">
        Add
      </button>
    </div>
    <ul>
      <li *ngFor="let ticket of tickets" class="ticketBlock">
        <div class="eachTicketView">
          <div class="ticketContainer">
            <h3>{{ ticket.title }}</h3>
            <p>{{ ticket.description }}</p>
            <p>Status: {{ ticket.status }}</p>
          </div>
          <div class="flex justify-end">
            <div *ngIf="isAdminOrSupport">
              <button type="button" [routerLink]="['/edit-ticket', ticket._id]" class="cta-button">
                Edit
              </button>
            </div>
            <button type="button" [routerLink]="['/selected-ticket', ticket._id]" class="cta-button">
              More
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<ng-template #noTickets>
  <section>
    No ticket available
  </section>
</ng-template>